*{
  margin: 0;
  padding: 0;
}

.App{
  height: 100%;
}



/* navbar */
.navBar{
  padding: 12px 28px 12px 28px;
  background-color: #5B5B5B;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-logo{
  font-weight: 800;
  font-size: 28px;
}

.avatar{
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

/* task canvas  */
.task__canvas{
  display: flex;
  height: 568px;
}
/* LeftDrawer */
.drawer{
  padding: 28px 0px 28px 0px;
  position: relative;
  background-color: #D9D9D9;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.board__add__actbtn{
  border: none;
  border-radius: 4px;
  padding: 8px;
  padding: 8px 24px 8px 24px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}


/* board */

.board{
  flex-grow: 1;
}

/* board header */
.board__header{
  padding: 12px 28px 12px 28px;
  position: relative;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px  #D9D9D9;
}

.createTask__actnbtn{
  border: none;
  border-radius: 4px;
  padding: 8px;
  padding: 8px 24px 8px 24px;
  background-color: #5B5B5B;
  color: white;
  font-weight: bold;
  cursor: pointer;
}


/* createTaskModal */
.task__input{
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 20px;
  width: 80%;
  border: 3px solid #5B5B5B;
  border-radius: 4px;
}

.add__task__btn{
  background-color: #5B5B5B;
  border: none;
  width: 100px;
  border-radius: 4px;
  padding: 6px;
  color: white;
}

/* task holder */
.task__holder__wraper{
  padding: 12px 20px 0px 20px;
  display: flex;  
  flex-direction: row;
  justify-content: flex-start;
}

.task__holder{
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  width: 20%;
  margin-right: 8px;
  background-color: #EFEFEF;
  padding: 0px 0px 24px 0px;
}

.task__holder__title{
  margin-top: 4%;
  font-weight: 800;
}

/* colunm btn */
.column__btn__wraper{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-grow: 1;
}

.create__column__btn{
  padding: 8px 28px 8px 28px !important;
  background-color: #EFEFEF;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 6px;
  justify-content: flex-end;
}

/* todo item list */
.todo__li{
  list-style: none;
  width: 90%;
  margin-bottom: 4%;
}

/* inner card item */

.todo__card{
  
  height: 100%;
  padding: 4px 0px 0px 4px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 4px;
}

.update__actn__btn{
  position: relative;
  background-color: white;
  border: none;
}

.actn__btn__icon{
  height: 20px;
  width: 20px;
}

/* update or delete modal */
.update__task__btn{
  background-color: #5B5B5B;
  padding: 12px 24px 12px 24px;
  border: none;
  border-radius: 4px;
  padding: 6px;
  color: white;
}


.delete__task__btn{
  padding: 12px 24px 12px 24px;
  background-color: #ca6c6c;
  border: none;
  border-radius: 4px;
  padding: 6px;
  color: white;
}