*{
  margin: 0;
  padding: 0;
}

.App{
  height: 100%;
}



/* navbar */
.navBar{
  padding: 12px 28px 12px 28px;
  background-color: #5B5B5B;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-logo{
  font-weight: 800;
  font-size: 28px;
}

.avatar{
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

/* task canvas  */
.task__canvas{
  display: flex;
  height: 100%;
}
/* LeftDrawer */
.drawer{
  padding: 28px 0px 28px 0px;
  position: relative;
  background-color: #D9D9D9;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.board__add__actbtn{
  border: none;
  border-radius: 4px;
  padding: 8px;
  width: 150px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}


/* board */

.board{
  flex-grow: 1;
}

/* board header */
.board__header{
  padding: 12px 28px 12px 28px;
  position: relative;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.createTask__actnbtn{
 
  border: none;
  border-radius: 4px;
  padding: 8px;
  width: 150px;
  background-color: #5B5B5B;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* .current__board__name{
 
} */

/* createTaskModal */
.task__input{
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 20px;
  width: 80%;
  border: 3px solid #5B5B5B;
  border-radius: 4px;
}

.add__task__btn{
  background-color: #5B5B5B;
  border: none;
  width: 100px;
  border-radius: 4px;
  padding: 6px;
  color: white;
}

/* task holder */
.task__holder__wraper{
  padding: 12px 12px 12px 12px;
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.task__holder{
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  width: 20%;
  height: 420px;
  margin-right: 8px;
  background-color: #EFEFEF;
}

.task__holder__title{
  margin-top: 4%;
  font-weight: 800;
}



/* todo item list */
.todo__li{
  list-style: none;
  background-color: rgb(255, 255, 255);
  width: 90%;
  border-radius: 4px;
  
  margin-bottom: 4%;
}

/* inner card item */

.todo__card{
  width: 90%;
  height: 100%;
  padding: 4px 0px 0px 4px;
  
}



.update__actn__btn{
  position: relative;
  background-color: white;
  border: none;
}

.actn__btn__icon{
  height: 20px;
  width: 20px;
}

/* update or delete modal */
.update__task__btn{
  background-color: #5B5B5B;
  width: 100px;
  border: none;
  border-radius: 4px;
  padding: 6px;
  color: white;
}

.delete__task__btn{
  width: 100px;
  background-color: #ca6c6c;
  border: none;
  border-radius: 4px;
  padding: 6px;
  color: white;
}